/* FACE OF CARD */
*{
    border: 0;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#180326, #360259);
    display: flex;
    justify-content: center;
    color: white;
    font-size: 25px;
}

#mainContainer{
    width: 100vw;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    transition: all 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: absolute;
    z-index: 1;
}

.chip-and-number-logo{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 20px;
    padding-left: 50px;
    padding-top: 20px;
}

.chip-and-number-logo img{
    width: 100px;
}

#frontCard{
    background-color: #721AFF;
    width: 500px;
    height: 250px;
    justify-content: space-around;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: rotateY(180deg);
}

#frontCard .chip-and-number{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 20px;
}

#frontCard .chip-and-number img{
    height: 60px;
}

#frontCard .name{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 57px;
    padding-right: 30px;
}

#frontCard .logo{
    display: flex;
    height: 80px;
    justify-content:space-between;
    padding-left: 57px;
    padding-right: 25px;
    align-items: center;
    padding-bottom: 10px;
}

#frontCard .logo img{
    height: 30px;
   
}
/* BACK OF THE CARD */

#backCard{
    background-color: #5019a1;
    width: 500px;
    height: 250px;
    justify-content: space-around;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    backface-visibility: hidden;
}

.magneticBar{
    width: 100%;
    height: 65px;
    background-color: black;
}

.inputCvv{
    width: 90%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.753);
    display: flex;
    justify-content: end;
}

.cvvNumber{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
}

.face{
    width: 600px;
    height: 350px;
    display: flex;
    position: absolute;
}

.flip{
    transform: rotateY(180deg);
}

/* FORM */

.dataContainer{
    position: fixed;
    top: 250px;
    color: white;
    height:400px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: rgba(255, 255, 255, 0.02);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.7px);
    -webkit-backdrop-filter: blur(1.7px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.dataContainer .inContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    width: 95%;
}

.dataContainer .inContainer span{
    font-size: 20px;
    width: 97%;
    padding-left: 20px;
    padding: 16px;
    padding-left: 42px;
}

.dataContainer .inContainer input{
    width: 90%;
    height: 10px;
    border: 2px solid rgba(0, 0, 0, 0.219);
    padding: 10px;
    font-size: 25px;
}

.dataContainer .inContainer .lastFields{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
}

.dataContainer .inContainer .lastFields input{
    width: 150px;
    display: flex;
}

.dataContainer .inContainer .lastFields div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 230px;
    
}

.dataContainer .inContainer .lastFields div span{
    padding-left: 20px;
}

#butsubmit{
    width: 200px;
    height: 45px;
    cursor: pointer;
    background-color: #721AFF;
    color: white;
    font-size: 20px;
    margin-top: 10px;
}

#butsubmit:hover{
    background-color: #2B0247;
}

/* RESPONSIVY */

@media(max-width: 505px){
    #mainContainer{
        width: 100vw;
        font-size: 90%;
        height: 40%;
    }

    img{
        width: -70%;
    }

    #frontCard{
        width: 90vw;
        height: 85%;
    }
    
    #frontCard .name{
        padding-left: 7%;
    }

    #frontCard .logo{
        padding-left: 7%;
        height: 20%;
    }

    .chip-and-number-logo{
        padding-left: 7%;
    }

    .chip-and-number-logo img{
        width: 20%;
    }

    #backCard{
        width: 85vw;
    }

    #frontCard .logo img{
        height: 60%;
    }

    #frontCard .chip-and-number{
        display: flex;
        justify-content: space-between;
        padding-left: 0%;
        font-size: 60%;
    }

    #frontCard .chip-and-number img{
        height: 90%;
    }
    
}